@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
a{
    color: inherit;
    text-decoration: none;
}
html,body{
    font-family: 'Montserrat', sans-serif;
    min-width: 371px;
    scroll-behavior: smooth;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    color: #333;
    background-color: #ECECEC;
}
.body.lock{
    overflow: hidden;
}
.container{
    max-width: 1310px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    pointer-events:all;
    padding: 22px 0;
    position: relative;
    width: 100%;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 99;
    top: -3px;
    color: #333;
    background-color: #ECECEC;
}

.header__overlay.lock{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.header.scrolled{
    box-shadow: 0px 0px 10px #9b9b9b7a;
}
.header__inner, .header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-img{
    position: relative;
    z-index: 4;
    width: 150px;
    height: 52px;
}

.header__menu{
    display: flex;
    height: 100%;
    gap: 48px;
}
.header__menu-item:nth-child(3){
    position: relative;
}
.header__menu-item:nth-child(3) .header__menu-block {
    display: none;
    position: absolute;
    padding: 20px;
    gap: 51px;
    right: 50%;
    transform: translateX(59%);
    white-space: nowrap;
}
.header__menu-item:nth-child(3):hover .header__menu-block {
    display: flex;
}
.header__menu-link{
    cursor: pointer;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    position: relative;
}
.header__menu-link:hover{
    color: #00A4B8;
}
.header__menu-link:hover::after{
    content: '';
    position: absolute;
    width: 58px;
    height: 1px;
    background-color: #00A4B8;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}
.header__btn{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.header__btn-link a{
    background-color: #00A4B8;
    padding: 13px 51px 13px 57px;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}


.header__btn-svg{
    display: inline-block;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='8' viewBox='0 0 6 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76249 0.464562L4.94447 3.64654C5.13973 3.8418 5.13973 4.15839 4.94447 4.35365L1.76249 7.53563C1.56723 7.73089 1.25064 7.73089 1.05538 7.53563C0.860119 7.34037 0.860119 7.02378 1.05538 6.82852L3.74994 4L1.05538 1.17167C0.86012 0.976407 0.86012 0.659824 1.05538 0.464562C1.25065 0.2693 1.56723 0.2693 1.76249 0.464562Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 5px;
    height: 8px;
    margin-left: 12px;
}
.header__btn-svg::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 18px;
    height: 7.364px;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='8' viewBox='0 0 18 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0266 0.464471L17.2086 3.64645C17.4039 3.84171 17.4039 4.1583 17.2086 4.35356L14.0266 7.53554C13.8314 7.7308 13.5148 7.7308 13.3195 7.53554C13.1242 7.34028 13.1242 7.02369 13.3195 6.82843L15.6479 4.50001L0.645019 4.50001L0.645019 3.50001L15.6479 3.50001L13.3195 1.17158C13.1242 0.976316 13.1242 0.659734 13.3195 0.464471C13.5148 0.269209 13.8314 0.269209 14.0266 0.464471Z' fill='white'/%3E%3C/svg%3E");
}
.header__btn-link a:hover .header__btn-svg::after{
    opacity: 1;
}
.header__btn-link a:hover .header__btn-svg {    
    background-image: none;
    width: 18px;
    margin-left: 7px;
}
.header__btn-link a:hover{
    padding: 13px 45px 13px 55px;
    background-color: #2A3D4C;
}





.main{
    padding: 50px 0;
    height: auto;
}
.main__message-1{
    position: relative;
    z-index: 5;
    max-width: 628px;
    margin-top: 163px;
}
.main__message-2{
    position: relative;
    z-index: 5;
    max-width: 633px;
    margin-top: 376px;
    margin-right: 95px;
    float: right;
}
.main__message-3 > .main__title:first-child br:first-of-type {
    display: none;
}
.main__message-3{
    position: relative;
    z-index: 5;
    max-width: 630px;
    margin-top: 540px;
    margin-left: 74px;
    float: left;    
}
.main__title{
    font-size: 60px;
    font-weight: 600;
    line-height: 110%;
}
.main__descr{
    font-size: 20px;
    line-height: 120%;
}
.main__message-1 .main__descr{
    margin-top: 20px;
}
.main__message-2 .main__descr + .main__descr{
    margin-top: 16px;
}
.main__message-3 > .main__descr:first-child {
    font-size: 46px;
    margin-bottom: 16px;
    line-height: 110%;
}
.main_inner{
    position: relative;
}
.main__message{
    position: relative;
    z-index: 1;
}
.bg__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    z-index: -1;
}
.bg__img-1 {
    position: absolute;
    right: 0;
    top: 10px;
}
.bg__img-1 img {
    display: block;
    width: 858.72px;
    height: auto;
}
.bg__img-2{
    position: absolute;
    right: 33.5%;
    top: 0;
    z-index: 4;
}
.bg__img-2 svg {
    width: 858.72px;
    height: auto;
    margin-top: 501px;
}
.bg__img-3{
    position: absolute;
    right: 33.5%;
    top: 0;
    z-index: 2;
}
.bg__img-3 img {
    width: 857.25px;
    height: auto;
    margin-top: 751px;
}
.bg__img-4{
    position: absolute;
    right: 38%;
    top: 0;
    z-index: 1;
}
.bg__img-4 svg {
    width: 857.25px;
    height: auto;
    margin-top: 142.5%;
    margin-left: 52.9%;
}
.bg__img-5{
    position: absolute;
    right: 38%;
    top: 0;
    z-index: 1;
}
.bg__img-5 img {
    width: 857.25px;
    height: auto;
    margin-top: 171.7%;
    margin-left: 52.9%;
}
.bg__img-6{
    position: absolute;
    right: 34%;
    top: 0;
}
.bg__img-6 svg {
    width: 857.25px;
    height: auto;
    margin-top: 226.9%;
}
.advantages{
    padding-top: 440px;
    position: relative;
    z-index: 5;
}
.advantages__title{
    font-size: 46px;
    text-align: center;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.advantages__box {
    display: flex;
    justify-content: center;
}
.advantages__box-item {
    flex: 1;
    display: block;
    align-items: flex-start;
    border-left: 1px solid #333;
    padding-left: 16px;
    margin: 0 10px;
}
.advantages__item-title {
    font-size: 46px;
    font-style: normal;
    font-weight: 400;   
    margin-bottom: 16px;
    line-height: 120%;
}
.advantages__item-descr {
    font-size: 20px;
    line-height: 120%;
}
.retire{
    padding-top: 119px;
}
.retire__title{
    font-size: 46px;
    text-align: center;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.retire__descr{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    max-width: 633px;
    margin: 0 auto;
    text-align: center;
    line-height: 120%;
}
.retire__descr + .retire__descr{
    margin-top: 80px;
    margin-bottom: 32px;
    font-size: 21.33px;
}
.retire__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px 28px;
}
.retire__sub-descr svg{
    display: none;
}
.retire__item-img {
    display: flex;
    align-items: end;
    justify-content: end;
}
.retire__box-item {
    flex-basis: calc(33.33% - 19px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid #00A4B8;
    padding: 27px 58px;
    height: 160px;
    transition: 0.1s ease;
}
.retire__box-item:hover{
    background-color: #00A4B8;
}
.retire__box-item:hover .retire__item-img svg path {
    fill: #fff;
}
.retire__box-item:hover .retire__item-descr {
    color: #fff;
}
.retire__item-descr {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
    line-height: 120%;
    cursor: default;
}
.retire__sub-descr{
    margin-top: 100px;
    margin-left: 18%;
    position: relative;
    line-height: 110%;
}
.retire__sub-descr p{
    font-size: 46px;
    max-width: 633px;
    line-height: 110%;
}
.retire__sub-descr p span{
    color: #28B181;
    font-weight: 700;
}
.retire__sub-bg {
    position: absolute;
    left: 425px;
    z-index: -1;
    bottom: -137px;
}
.tellus{
    padding-top: 408px;
}
.tellus__title{
    font-size: 46px;
    text-align: center;
    margin-bottom: 45px;
    line-height: 90%;
}
.tellus__form {
    width: 90%;
    max-width: 633px;
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.input-wrapper {
    flex: 1;
    position: relative;
}
input[type="text"],
input[type="phone"],
input[type="email"] {
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
    padding: 1px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    border-bottom: 1px solid #333;
    background-color: rgba(0, 0, 0, 0); 
}
.input-wrapper label {
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
}
button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 305px;
    margin: 0 auto;
    margin-top: 70px;
    height: 48px;
    padding: 10px 40px;
    background-color: #00A4B8;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
button[type="submit"]:hover{
    background-color: #2A3D4C;
}
.send_svg{
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='8' viewBox='0 0 6 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.76249 0.464562L4.94447 3.64654C5.13973 3.8418 5.13973 4.15839 4.94447 4.35365L1.76249 7.53563C1.56723 7.73089 1.25064 7.73089 1.05538 7.53563C0.860119 7.34037 0.860119 7.02378 1.05538 6.82852L3.74994 4L1.05538 1.17167C0.86012 0.976407 0.86012 0.659824 1.05538 0.464562C1.25065 0.2693 1.56723 0.2693 1.76249 0.464562Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 5px;
    height: 8px;
    margin-left: 12px;
    transition: all 0.3s ease;
}
.send_svg::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 18px;
    height: 7.364px;
    background-repeat: no-repeat;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='8' viewBox='0 0 18 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0266 0.464471L17.2086 3.64645C17.4039 3.84171 17.4039 4.1583 17.2086 4.35356L14.0266 7.53554C13.8314 7.7308 13.5148 7.7308 13.3195 7.53554C13.1242 7.34028 13.1242 7.02369 13.3195 6.82843L15.6479 4.50001L0.645019 4.50001L0.645019 3.50001L15.6479 3.50001L13.3195 1.17158C13.1242 0.976316 13.1242 0.659734 13.3195 0.464471C13.5148 0.269209 13.8314 0.269209 14.0266 0.464471Z' fill='white'/%3E%3C/svg%3E");
}
button[type="submit"]:hover .send_svg::after  {
    opacity: 1;
}
button[type="submit"]:hover .send_svg {
    background-image:none;
    width: 17px;
    margin-left: 12px;
}

.footer{
    margin-top: 304px; 
    background: #2A3D4C;
    padding: 30px 0;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__menu{
    display: flex;
    gap: 63px;
    align-items: center;
}
.footer__social{
    display: flex;
    gap: 19px;
    align-items: center;
}
.footer__link{
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
}
.footer__link:hover svg path{
    fill: #28B181;
    position: relative;
    z-index: 123;
}
.footer__link:hover::after{
    position: absolute;
    content: '';
    top: 50%;
    width: 22px;
    height: 22px;
    z-index: 1;
    background-color: #fff;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.footer__link svg{
    position: relative;
    z-index: 123;
}
.footer__menu-link{
    font-size: 11.2px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    line-height: 16.27px;
}
.footer__menu-item p{
    color: #A8A8A8;
}
.footer__logo{
    width: 34.008px;
    height: 39px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='39' viewBox='0 0 34 39' fill='none'%3E%3Cg clip-path='url(%23clip0_0_806)'%3E%3Cpath d='M33.5019 9.46272L17.0021 0L0 9.74898V20.4058H4.33079C4.35961 20.7902 4.39666 21.1746 4.46253 21.5467C5.38879 27.2309 10.1395 31.6228 16.0017 32.0768V36.1334L1.99661 28.106V22.385H0V29.2469L17.0021 39L34.0041 29.2469V18.5901H29.6774C29.6486 18.2057 29.6116 17.8213 29.5457 17.4492C28.6112 11.765 23.8646 7.37307 18.0024 6.91916V2.85845L32.0116 10.894V16.6109H34.0082V9.74489L33.5101 9.45863L33.5019 9.46272ZM16.0017 22.4218V30.0852C13.4411 29.8522 11.144 28.7317 9.41906 27.0223C7.91645 25.5297 6.86257 23.5996 6.46325 21.4404C6.39739 21.101 6.36445 20.7493 6.33152 20.4017H15.9976V22.4218H16.0017ZM16.0017 6.91507C10.4688 7.34445 5.9322 11.2825 4.66013 16.5005L4.63543 16.6109H6.69379C7.19603 14.832 8.14287 13.2413 9.42317 11.9695C11.144 10.2601 13.4452 9.13967 16.0058 8.90657V18.5901H1.99661V10.8899L16.0017 2.85845V6.91507ZM29.4016 20.4017H32.0034V28.1019L17.9942 36.1334V32.0768C23.5271 31.6474 28.0678 27.7093 29.3399 22.4913L29.3646 22.3809H27.3062C26.804 24.1598 25.853 25.7505 24.5727 27.0223C22.8519 28.7317 20.5548 29.8522 17.9901 30.0852V20.4017H29.3934H29.4016ZM24.5768 11.9695C26.0794 13.4621 27.1374 15.3923 27.5367 17.5514C27.5985 17.8663 27.6397 18.2384 27.6685 18.5901H17.9983V8.90657C20.563 9.13967 22.856 10.2601 24.5809 11.9695H24.5768Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_806'%3E%3Crect width='34' height='39' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

@media (max-width: 1366px) {
    .header__menu-item:nth-child(3) .header__menu-block {
        padding: 20px;
        gap: 31px;
        right: 43%;
        transform: translateX(59%);
        white-space: nowrap;
    }
    .retire__box {
        gap: 15px 13px;
    }
    .retire__box-item {
        flex-basis: calc((100% - 44px) / 3);
    }
    .retire__box-item:nth-of-type(2) .retire__item-descr{
        max-width: 178px;
    }
    .container{
        max-width: 1132px;
    }
    .header__menu {
        gap: 29px;
    }
    .header__btn-link a {
        padding: 11px 42px 11px 44px;
    }
    .header__btn-link a:hover {
        padding: 11px 40px 11px 38px;
    }
    .header__logo-img {
        width: 141px;
        height: 49px;
    }
    .header {
        padding: 16px 0;
    }
    .main__title {
        font-size: 50.52px;
    }
    .main__message-1{
        margin-top: 118px;
    }
    .main__message-1 > .main__descr{
        max-width: 495px;
    }
    .main__descr{
        font-size: 16px;
    }
    .bg__img-1 {
        top: -39px;
    }
    .bg__img-1 img{
        width: 739.94px;
    }
    .bg__img-2 svg {
        margin-top: 51.7%;
        width: 739.94px;
    }
    .bg__img-3 img {
        margin-top: 599px;
        width: 739.94px;
    }
    .bg__img-4 svg {
        margin-top: 135.7%;
        width: 739.94px;
    }
    .bg__img-5 img {
        margin-top: 164.7%;
        width: 739.94px;
    }
    .bg__img-6 svg {
        margin-top: 219.9%;
        width: 739.94px;
    }
    .main__message-2 {
        max-width: 539px;
        margin-top: 280px;
        margin-right: 95px;
    }
    .main__message-3 {
        max-width: 529px;
        margin-top: 505px;
        margin-left: 65px;
    }
    .main__message-3 > .main__descr:first-child {
        font-size: 37.9px;
    }
    .advantages {
        padding-top: 340px;
    }
    .advantages__title {
        font-size: 37.9px;
    }
    .advantages__item-title{
        font-size: 37.9px;
    }
    .advantages__item-descr{
        font-size: 16px;
    }
    .retire {
        padding-top: 112px;
    }
    .retire__title{
        font-size: 37.9px;
    }
    .retire__descr{
        font-size: 16px;
        max-width: 547px;
    }
    .retire__descr + .retire__descr {
        margin-top: 70px;
    }
    .retire__box-item{
        padding: 14px 58px;
        height: 134px;
        justify-content: center;
    }
    .retire__item-img svg{
        width: 39px;
    }
    .retire__item-descr{
        margin-top: 10px;
        font-size: 16px;
    }
    .retire__sub-descr p {
        font-size: 37.9px;
        max-width: 546px;
    }
    .retire__sub-bg {
        position: absolute;
        left: 377px;
        z-index: -1;
        bottom: -72px;
    }
    .tellus {
        padding-top: 292px;
    }
    .tellus__title {
        font-size: 37.9px;
        margin-bottom: 25px;
    }
    .tellus__form {
        max-width: 548px;
    }
    .row{
        gap: 15px;
    }
    button[type="submit"] {
        width: 248px;
        height: 38px;
        margin-top: 50px;
    }
    .footer {
        margin-top: 184px;
    }
}

@media (max-width: 1128px) {
    .block__hidden{
        overflow: hidden;
    }
    .bg__img-1 {
        top: 70px;
    }
    .bg__img-1 img {
        width: 632.94px
    }
    .bg__img-2 svg {
        margin-top: 61.7%;
        width: 743.94px;
    }
    .bg__img-3 img {
        margin-top: 675px;
    }
    .bg__img-4 svg {
        margin-top: 146.1%;
    }
    .bg__img-5 img {
        margin-top: 174.7%;
    }
    .bg__img-6 svg {
        margin-top: 229.9%;
    }
    .advantages {
        padding-top: 404px;
    }
    .main__message-3 {
        max-width: 539px;
        margin-top: 540px;
        margin-left: 32px;
    }
}
@media (max-width: 1080px){
    .bg__img-4 svg {
        margin-top: 146.8%;
    }
    .bg__img-6 svg {
        margin-top: 230%;
    }
}
.header__burger{
    display: none;
}
@media (max-width: 1033px) {  
    .header__menu-item:nth-child(3) .header__menu-block.active{
        display: flex;
        padding: 20px;
        gap: 31px;
        right: 0;
        transform: translateX(0);
        position: relative;
        white-space: nowrap;
        flex-direction: column;
        background-color: #e5e5e5;
        margin-top: 20px;
    }
    .header__menu-item:nth-child(3):hover .header__menu-block {
        display: none;
    }
    .header__menu-item:nth-child(3):hover .header__menu-block.active {
        display: flex;
    }
    .header__menu-item:nth-child(3) .header__menu-block {
        padding: 20px;
        gap: 31px;
        right: 0;
        transform: translateX(0);
        position: relative;
        white-space: nowrap;
        flex-direction: column;
        background-color: #e5e5e5;
    }
    .header{
        position: fixed;
    }
    .header__list li {
        padding: 10px 10px;
    }
    .header__inner{
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    .header__burger{
        display: flex;
        width: 38px;
        height: 27px;
        position: relative;
        z-index: 4;        
    }
    .header__burger span{
        background-color: #000000;
        position: absolute;
        width: 50%;
        height: 3px;
        top: 12px;
        right: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 12px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 12px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__link{
        color: rgb(0, 0, 0); 
        font-size: 28px;
        font-weight: bolder;
        margin: auto 0px;  
    }
    .header__menu-item + .header__menu-item{
        margin-top: 20px;
    }
    .header__menu{
        display: block;
        position: fixed;
        text-align: center;
        top: -100%;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #ECECEC;
        z-index: 2;
        padding: 90px 10px 30px 10px;
        transition: all 0.3s ease 0s;
        box-shadow: 0px 0px 10px #9b9b9b7a;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
        margin-bottom: 20px;
    }
    .footer__menu-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content; 
        gap: 25px 78px;
        padding: 10px;
    }
    .footer__menu-item:nth-child(1) {
        grid-row: 2;
        grid-column: 1 / span 3;
        justify-self: center;
    }
    .footer__menu-item:nth-child(2) {
        grid-row: 1;
        grid-column: 1;
    }
    .footer__menu-item:nth-child(3) {
        grid-row: 1;
        grid-column: 3;
    }
    .footer__menu-item:nth-child(4) {
        grid-row: 1;
        grid-column: 2;
    }
}

.main__message-3 > .main__descr br:first-of-type {
    display: none;
}

@media (max-width: 954px) {
    .retire__descr {
        font-size: 16px;
        max-width: 478px;
    }
    .main__message-3 > .main__descr br:first-of-type {
        display: block;
    }
    .main__message-3 > .main__descr br:last-of-type {
        display: none;
    }
    .main__message-2 .main__descr + .main__descr{
        margin-top: 12px;
    }
    .main__message-3 > .main__descr:first-child{
        margin-bottom: 12px;
    }
    .container{
        max-width: 739px;
    }
    .header {
        padding: 16px 0;
    }
    .main__title {
        font-size: 37.9px;
        max-width: 479px;
    }
    .main__message-1{
        margin-top: 137px;
    }
    .main__message-1 > .main__descr {
        max-width: 356px;
        margin-top: 12px;
    }
    .main{
        position: relative;
    }
    .main_inner{
        position: inherit;
    }
    .bg__img-1 {
        top: 269px;
    }
    .bg__img-1 img{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .bg__img-2 {
        right: 318px;
    }
    .bg__img-2 svg {
        margin-top: 98.7%;
        width: 637.12px;
    }
    .bg__img-3 {
        position: absolute;
        right: 318px;
    }
    .bg__img-3 img {
        margin-top: 969px;
        width: 635.72px;
    }
    .bg__img-4 {
        right: 341px;
    }
    .bg__img-4 svg {
        margin-top: 209%;
        width: 635.72px;
    }
    .bg__img-5 {
        right: 322px;
    }
    .bg__img-5 img {
        margin-top: 255.7%;
        width: 634.82px;
    }
    .bg__img-6 {
        position: absolute;
        right: 283px;
        top: 0;
    }
    .bg__img-6 svg {
        margin-top: 310.9%; 
        width: 634.82px;
    }
    .main__message-2 {
        max-width: 352px;
        margin-top: 305px;
        margin-right: 0;
    }
    .main__message-3 {
        max-width: 357px;
        margin-top: 1070px;
        margin-left: 0;
    }
    .main__message-3 > .main__descr:first-child {
        font-size: 28.43px;
        max-width: 329px;
    }
    .advantages {
        padding-top: 354px;
    }
    .advantages__box {
        display: grid;
        grid-template-columns: 255px 243px;
        gap: 16px;
        justify-content: center;
    }
    .advantages__box-item {
        height: 179px;
    }
    .advantages__item-title{
        font-size: 37.9px;
    }
    .advantages__item-descr{
        font-size: 16px;
    }
    .retire {
        padding-top: 100px;
    }
    .retire__title{
        font-size: 37.9px;
    }
    .retire__descr + .retire__descr {
        margin-top: 60px;
        font-size: 21.33px;
    }
    .retire__box{
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 12px;
        justify-content: center;
    }
    .retire__box-item{
        padding: 14px 10px;
        margin: 0;
        background-color: #00A4B8;
    }
    .retire__box-item:nth-of-type(2) .retire__item-descr{
        max-width: 179px;
    }
    .retire__item-img svg{
        width: 39px;
        fill: white;
    }
    .retire__item-img svg path {
        fill: white;
    }
    .retire__item-descr{
        color: #fff;
        max-width: 230px;
    }
    .retire__sub-descr{
        margin-left: 0;
    }
    .retire__sub-descr p {
        font-size: 28.43px;
        max-width: 430px;
    }
    .retire__sub-bg {
        position: absolute;
        width: 625.363px;
        left: 225px;
        z-index: -1;
        bottom: -252px;
    }
    .retire__sub-bg img{
        width: 100%;
    }
    .retire__sub-descr svg{
        display: block;
        position: absolute;
        top: 284px;
        left: -120px;
    }
    .tellus {
        padding-top: 720px;
    }
    .tellus__title {
        font-size: 28.43px;
        margin-bottom: 48px;
    }
    .tellus__form {
        max-width: 478px;
    }
    .row{
        gap: 12px;
    }
    button[type="submit"] {
        width: 234px;
    }
    .footer {
        margin-top: 160px;
    }
    .footer__logo{
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='30' viewBox='0 0 27 30' fill='none'%3E%3Cg clip-path='url(%23clip0_0_403)'%3E%3Cpath d='M25.7707 7.27902L13.0785 0L0 7.49921V15.6968H3.33138C3.35354 15.9925 3.38205 16.2881 3.43271 16.5744C4.14522 20.9468 7.7996 24.3253 12.309 24.6744V27.7949L1.53585 21.62V17.2193H0V22.4976L13.0785 30L26.157 22.4976V14.3001H22.8288C22.8066 14.0044 22.7781 13.7087 22.7275 13.4225C22.0086 9.05001 18.3574 5.67159 13.848 5.32243V2.1988L24.6243 8.37999V12.7776H26.1602V7.49607L25.777 7.27587L25.7707 7.27902ZM12.309 17.2476V23.1425C10.3393 22.9632 8.57228 22.1013 7.24543 20.7864C6.08958 19.6383 5.2789 18.1535 4.97173 16.4926C4.92107 16.2315 4.89573 15.961 4.8704 15.6936H12.3058V17.2476H12.309ZM12.309 5.31928C8.05294 5.64958 4.56323 8.67883 3.58471 12.6927L3.56571 12.7776H5.14907C5.53541 11.4092 6.26375 10.1856 7.2486 9.2073C8.57228 7.89242 10.3425 7.03051 12.3122 6.85121V14.3001H1.53585V8.37685L12.309 2.1988V5.31928ZM22.6166 15.6936H24.618V21.6169L13.8417 27.7949V24.6744C18.0977 24.3441 21.5906 21.3149 22.5691 17.301L22.5881 17.2161H21.0048C20.6184 18.5845 19.8869 19.8081 18.9021 20.7864C17.5784 22.1013 15.8114 22.9632 13.8385 23.1425V15.6936H22.6103H22.6166ZM18.9053 9.2073C20.0611 10.3555 20.8749 11.8402 21.1821 13.5011C21.2296 13.7433 21.2613 14.0296 21.2835 14.3001H13.8449V6.85121C15.8177 7.03051 17.5816 7.89242 18.9084 9.2073H18.9053Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_0_403'%3E%3Crect width='26.1538' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
    .footer__social{
        align-items: start;
    }
}
@media (max-width: 846px) {
    .main__message-1 > .main__descr {
        max-width: 314px;
    }
}
@media (max-width: 768px) {
    .header__btn{
        gap: 22px;
    }
    .container{
        max-width: 710px;
    }
    .header {
        padding: 16px 0;
    }
    .main__title {
        font-size: 37.9px;
        max-width: 479px;
    }
    .main__message-1{
        margin-top: 130px;
    }
    .main__message-1 > .main__descr{
        max-width: 339px;
    }
    .main{
        position: relative;
    }
    .main_inner{
        position: inherit;
    }
    .bg__img-1 {
        top: 326px;
    }
    .bg__img-1 img{
        width: 512px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .bg__img-2 {
        right: 243px;
    }
    .bg__img-2 svg {
        margin-top: 118.7%;
        width: 512.29px;
    }
    .bg__img-3 {
        position: absolute;
        right: 237px;
    }
    .bg__img-3 img {
        margin-top: 966px;
        width: 514.77px;
    }
    .bg__img-4 {
        right: 260px;
    }
    .bg__img-4 svg {
        margin-top: 244.8%;
        width: 512.77px;
    }
    .bg__img-5 {
        right: 260px;
    }
    .bg__img-5 img {
        margin-top: 298.7%;
        width: 510.67px;
    }
    .bg__img-6 {
        position: absolute;
        right: 234px;
        top: 0;
    }
    .bg__img-6 svg {
        margin-top: 354.5%; 
        width: 510.67px;
    }
    .main__message-2 {
        max-width: 378px;
        margin-top: 283px;
    }
    .main__message-3 {
        max-width: 357px;
        margin-top: 411px;
        margin-left: 0;
    }
    .main__message-3 > .main__descr:first-child {
        font-size: 28.43px;
        max-width: 329px;
    }
    .advantages {
        padding-top: 260px;
    }
    .advantages__title{
        font-size: 28.43px;
        margin-bottom: 28px;
    }
    .advantages__box {
        display: grid;
        grid-template-columns: 255px 243px;
        gap: 16px;
        justify-content: center;
    }
    .retire {
        padding-top: 100px;
    }
    .retire__title{
        font-size: 28.43px;
        margin-bottom: 12px;
    }
    .retire__descr {
        max-width: 456px;
        margin: 0 auto;
    }
    .retire__descr + .retire__descr {
        margin-top: 123px;
        font-size: 21.33px;
        max-width: 100%;
        margin-bottom: 22px;
    }
    .retire__box-item + .retire__box-item:nth-of-type(2) .retire__item-descr{
        width: 165px;
    }
    .retire__box-item + .retire__box-item:nth-of-type(5) .retire__item-descr{
        width: 165px;
    }
    .retire__sub-bg {
        position: absolute;
        width: 601.301px;
        left: 184px;
        z-index: -1;
        bottom: -298px;
    }
    .retire__sub-descr svg {
        display: block;
        position: absolute;
        top: 300px;
        left: -120px;
    }
    .tellus {
        padding-top: 705px;
    }
    .tellus__title {
        font-size: 28.43px;
        margin-bottom: 48px;
    }
    .tellus__form {
        max-width: 456px;
    }

    button[type="submit"] {
        width: 234px;
    }
    .footer {
        margin-top: 284px;
    }
    .footer__menu {
        gap: 25px 36px;
    }
    .header__btn-svg {
        margin-left: 16px;
    }
    .header__btn-link a {
        padding: 12px 34px 12px 47px;
    }    
    .header__btn-link:hover a{
        padding: 12px 32px 12px 45px;
    }
}
@media (max-width: 690px){
    .bg__img-1 {
        top: 386px;
    }
    .main__message-1 > .main__descr {
        max-width: 311px;
    }
    .bg__img-2 svg {
        margin-top: 131.7%;
        width: 512.29px;
    }
    .main__message-3 {
        max-width: 311px;
        margin-top: 347px;
    }
}
@media (max-width: 600px){
    .advantages {
        padding-top: 303px;
    }
    .main__message-1 > .main__descr {
        max-width: 100%;
    }
    .bg__img-1 {
        top: 477px;
    }
    .bg__img-1 img {
        width: 373px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .bg__img-2 {
        right: 142px;
    }
    .bg__img-2 svg {
        margin-top: 148.7%;
        width: 462.29px;
    }
    .bg__img-3 {
        position: absolute;
        right: 205px;
    }
    .bg__img-3 img {
        margin-top: 1033px;
        width: 378.77px;
    }
    .bg__img-4 {
        right: 217px;
    }
    .bg__img-4 svg {
        margin-top: 330.6%;
        width: 377.77px;
    }
    .bg__img-5 {
        right: 234px;
    }
    .bg__img-5 img {
        margin-top: 338.7%;
        width: 462.67px;
    }
    .bg__img-6 {
        position: absolute;
        right: 206px;
        top: 0;
    }
    .bg__img-6 svg {
        margin-top: 395.5%;
        width: 461px;
    }
    .main__message-2 {
        max-width: 345px;
        margin-top: 369px;
    }
    .main__message-3 {
        max-width: 307px;
        margin-top: 265px;
        margin-left: 0;
    }
    .retire__sub-bg {
        position: absolute;
        width: 483px;
        left: 176px;
        z-index: -1;
        bottom: -285px;
    }
    .retire__sub-descr svg {
        display: block;
        position: absolute;
        top: 278px;
        left: -82px;
        width: 527px;
    }
    .tellus {
        padding-top: 664px;
    }
    .footer__social {
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .retire__box-item + .retire__box-item:nth-of-type(5) .retire__item-descr{
        width: 100%;
    }
    .retire__item-descr {
        font-size: 14px;
    }
    .advantages {
        padding-top: 239px;
    }
    .container {
        padding: 0 15px;
        max-width: 370px;
    }
    .header {
        padding: 14px 0;
    }
    .header__logo-img {
        width: 93px;
        height: 32px;
    }
    .main__message-1 {
        margin-top: 100px;
    }
    .main__title {
        font-size: 28.43px;
        max-width: 100%;
    }
    .main__descr {
        font-size: 14px;
    }
    .bg__img-1 {
        top: 410px;
    }
    .bg__img-1 img {
        width: 315px;
    }
    .bg__img-2 {
        right: 166px;
    }
    .bg__img-2 svg {
        margin-top: 186.7%;
        width: 318px;
    }
    .bg__img-3 {
        position: absolute;
        right: 155px;
    }
    .bg__img-3 img {
        margin-top: 916px;
        width: 334.77px;
    }
    .bg__img-4 {
        right: 176px;
    }
    .bg__img-4 svg {
        margin-top: 326.6%;
        width: 336.77px;
    }
    .main__message-2 {
        margin-top: 297px;
        margin-left: 15%;
        max-width: 255px;
    }
    .main__message-3 {
        margin-top: 253px;
    }
    .bg__img-5 {
        right: 183px;
    }
    .bg__img-5 img {
        margin-top: 389.7%;
        width: 374.67px;
    }
    .bg__img-6 {
        right: 123px;
    }
    .bg__img-6 svg {
        margin-top: 443.5%;
        width: 371px;
    }
    .advantages__title {
        font-size: 21.33px;
        margin-bottom: 32px;
    }
    .advantages__item-descr, .retire__descr{
        font-size: 14px;
    }
    .advantages__box {
        grid-template-columns: 50% 52%;
    }
    .retire__title{
        font-size: 21.33px;
    }
    .retire__descr + .retire__descr{
        font-size: 16px;
        max-width: 201px;
        margin-bottom: 28px;
    }
    .retire__box{
        grid-template-columns: 100%;
    }
    .retire__box-item {
        min-height: 134px;
    }
    .retire__sub-descr p{
        font-size: 21.33px;
    }
    .retire__sub-descr{
        height: 100px;
    }
    .retire__sub-bg {
        width: 326px;
        left: 176px;
        bottom: -249px;
    }
    .retire__sub-descr svg {
        top: 141px;
        left: -22px;
        width: 350px;
    }
    .tellus {
        padding-top: 508px;
    }
    .tellus__title {
        font-size: 21px;
        margin-bottom: 28px;
    }
    .row{
        flex-direction: column;
    }
    .tellus__form {
        max-width: 256px;
    }
    button[type="submit"] {
        width: 100%;
    }
    .footer {
        margin-top: 62px;
        position: relative;
        padding: 17px 0 0 0;
    }
    footer .container{
        max-width: 100%;
    }
    .footer__inner{
        flex-direction: column;
    }
    .footer__menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 16px 0;
    }
    .footer__social{
        position: absolute;
        right: 15px;
        bottom: 15px;
        z-index: 12;
    }
    .footer__social{
        gap: 28px;
    }
    .footer__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .footer__menu-item:nth-child(1) {
        order: 2;
    }
    .footer__menu-item:nth-child(3) {
        order: 1;
    }
    .footer__menu-item:first-of-type{
        width: 210px;
    }
    .header__btn {
        gap: 20px;
    }
    .main__message-3 > .main__descr:first-child {
        font-size: 21.33px;
        max-width: 279px;
    }
    .header__burger {
        width: 35px;
    }
    .row {
        gap: 20px;
    }
    .tellus__title {
        margin-bottom: 20px;
    }
    .header__btn-link a {
        padding: 10px 15px 10px 19px;
    }
    .header__btn-link:hover a{
        padding: 10px 11px 10px 9px;
    }
    .header__btn-svg{
        margin-left: 6px;
    }
}
@media (max-width: 408px){
    .main__message-3 {
        margin-top: 257px;
    }
    .bg__img-1 {
        top: 442px;
    }
    .bg__img-1 img {
        width: 250px;
    }
    .bg__img-2 {
        right: 156px;
    }
    .bg__img-2 svg {
        margin-top: 237.7%;
        width: 253px;
    }
    .main__message-2 {
        margin-top: 257px;
        margin-left: 15%;
        max-width: 255px;
    }
    .main__message-3 {
        margin-top: 295px;
    }
    .bg__img-3 {
        position: absolute;
        right: 125px;
    }
    .bg__img-3 img {
        margin-top: 934px;
        width: 282px;
    }
    .bg__img-4 {
        right: 133px;
    }
    .bg__img-4 svg {
        margin-top: 386.6%;
        width: 283px;
    }
    .bg__img-5 {
        right: 144px;
    }
    .bg__img-5 img {
        margin-top: 489.7%;
        width: 293px;
    }
    .bg__img-6 {
        right: 123px;
    }
    .bg__img-6 svg {
        margin-top: 544.5%;
        width: 293px;
    }
    .advantages {
        padding-top: 333px;
    }
    .advantages__item-descr, .retire__descr {
        max-width: 345px;
    }
    .retire__descr + .retire__descr {
        margin-top: 60px;
        margin-bottom: 28px;
    }
    .retire__item-descr {
        font-size: 14px;
    }
    .retire__sub-bg {
        width: 293px;
        left: 111px;
        bottom: -243px;
    }
    .retire__sub-descr svg {
        top: 99px;
        left: -22px;
        width: 290px;
    }
    .tellus {
        padding-top: 414px;
    }
    .tellus__form {
        max-width: 255px;
    }
}
@media (max-width: 391px){
    .main__message-2 {
        margin-top: 233px;
    }
    .main__message-3 {
        margin-top: 254px;
    }
}